{{!главный layout (макет)}}
{{> head }} {{!  > - обозначает что мы используем partial head }}
<body>
    {{> navbar}} {{!Подключаем паршиал навигации}}
    
    <div class="container"> {{!Оборачиваем каждую страницу в класс контейнер}}
    {{{ body }}}
    </div>


{{> footer}}
</body>
</html>