.nav-wrapper {
    padding: 0 2rem; /*свеху и снизу 0, слева и справа 2rem (rem - единицы относительно шрифта <html>)*/
    background-color: #90b307;
}

/*Стилизуем цену*/
.price {
   font-size: 2rem; 
}

/*Стилизуем страницу каждого курса*/
.course{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 2rem; /* Отступ между заголовком и остальным контентом*/
}

.course img {
    max-width: 600px;
    height: auto;
}

.course .price.big {
    font-size: 2.5rem;
}

/*Форматирование кнопки добавить курс*/
.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}